# Windows system files
Thumbs.db
ehthumbs.db
Desktop.ini

# Folder config file
Folder.jpg
Folder.xml
desktop.ini

# IDEs and editors
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# OS metadata
.DS_Store
Thumbs.db
